<nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/listar']">Listar</a></li>
          <li class="breadcrumb-item active" aria-current="page">crear</li>
      </ol>
  </nav>


  <div class="card">
      <div class="card-header">
          Registrar persona
      </div>
      <div class="card-body">
          <blockquote class="blockquote mb-0">
              <p>Favor diligenciar el formulario</p>
              <form  (ngSubmit)="insert()">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="nombres">Nombres</label>
                          <input type="text" class="form-control" id="nombres" placeholder="nombres" name="nombre" [(ngModel)]="persona.nombre">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="apellidos">Apellidos</label>
                          <input type="text" class="form-control" id="apellidos" placeholder="apellidos" name="apellido" [(ngModel)]="persona.apellido">
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="telefono">Teléfono</label>
                          <input type="text" class="form-control" id="telefono" placeholder="teléfono"name="telefono" [(ngModel)]="persona.telefono" >
                      </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Registrar</button>
              </form>

          </blockquote>
      </div>
  </div>
